<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/style :: style}"></th:block>
    <title>Le pizze</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/nav :: nav}"></th:block>
    </header>
    <main style="margin-bottom: 10rem;">


        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-between">
                <div>
                    <h1>Lista Pizze:</h1>
                </div>
                <div>
                    <form th:action="@{/pizzeria/searchByName}" method="get">
                        <div class="d-flex align-items-center">
                            <input class="form-control me-2" type="text" name="name" placeholder="Search"
                                aria-label="Search" />
                            <button class="btn btn-primary " type="submit">cerca</button>
                        </div>

                    </form>

                </div>
            </div>
            <div class="mt-3 d-flex">
                <div class="me-2">
                    <a class="btn btn-primary btn-sm" th:href="@{/pizzeria/create}"
                        sec:authorize="hasAuthority('ADMIN')">
                        <i class="bi bi-plus-square"></i>
                    </a>
                </div>

                <h3 th:text="'Ciao '+ ${username}"></h3>
            </div>

            <table class="table" th:if="${pizzas.size() > 0}">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>descrizione</th>
                        <th>immagine</th>
                        <th>prezzo</th>
                        <th>Apri</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Modifica</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Elimina</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pizza : ${pizzas}" th:object="${pizza}">

                        <td>[[*{name}]]</td>
                        <td>[[*{description}]]</td>
                        <td><img th:src="@{/images/{img}(img=*{image})}" alt="" style="width: 100px;"></td>
                        <td>[[*{price}]] €</td>
                        <td>
                            <a th:href="@{/pizzeria/{id}(id=*{id})}" class="btn btn-primary btn-sm">
                                <i class="bi bi-arrow-right-square"></i>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/pizzeria/edit/{id}(id=*{id})}" class="btn btn-success btn-sm">
                                <i class="bi bi-pencil">
                                </i>
                            </a>
                        </td>
                        <td sec:authorize="hasAuthority('ADMIN')">


                            <div th:replace="~{fragments/modal :: modal(*{id})}"></div>


                        </td>


                    </tr>
                </tbody>
            </table>

        </div>

        <p th:if="${pizzas.size() == 0}">Al momento non abbiamo pizze</p>
        </div>
    </main>


    <th:block th:replace="~{fragments/script :: scripts}"></th:block>
</body>


</html>