<!DOCTYPE html>
<html lxmls:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/style :: style}"></th:block>
    <title>pizza [[${pizza.name}]]</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/nav :: nav}"></th:block>
    </header>
    <main class="mt-5">
        <div class="container" th:object="${pizza}">
            <div class="section">
                <div class="row">
                    <div class="col-6">
                        <img th:src="@{/images/{img}(img=*{image})}" alt="" style="width: 100%;">
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>[[*{name}]]</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    [[*{description}]]
                                </div>
                                <div>Prezzo: [[*{price}]]€</div>
                                <div class="d-flex justify-content-start my-3">
                                    <div sec:authorize="hasAuthority('ADMIN')">
                                        <a class="btn btn-primary btn-sm"
                                            th:href="@{/pizzeria/{id}/offer (id=${pizza.id})}">Aggiungi offerta</a>
                                    </div>


                                </div>
                                <div th:if="*{offers.size() > 0}" class="row">
                                    <div th:each="offer : ${pizza.offers}">
                                        <div class="border-top d-flex justify-content-between align-items-center pt-3">
                                            <div>
                                                <p><span class="fw-bold">[[${offer.offerName}]]:
                                                    </span>
                                                    <span>[[${offer.start}]] / [[${offer.end}]]</span>
                                                </p>
                                            </div>
                                            <div sec:authorize="hasAuthority('ADMIN')"
                                                class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <a class="btn btn-warning btn-sm"
                                                        th:href="@{/offer/edit/{id} (id=${offer.id})}"><i
                                                            class="bi bi-pencil"></i></a>
                                                </div>
                                                <div>
                                                    <form th:action="@{/offer/delete/{id}(id=${offer.id})}"
                                                        method="post">
                                                        <button type="submit" class="btn btn-danger btn-sm"><i
                                                                class="bi bi-trash3"></i>

                                                        </button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>