<!DOCTYPE html>
<html lxmls:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/style :: style}"></th:block>
    <title>pizza [[${pizza.name}]]</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/nav :: nav}"></th:block>
    </header>
    <main class="mt-5">
        <div class="container" th:object="${pizza}">
            <div class="section">
                <div class="row">
                    <div class="col-6">
                        <img th:src="@{/images/{img}(img=*{image})}" alt="" style="width: 100%;">
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>[[*{name}]]</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    [[*{description}]]
                                </div>
                                <div>Prezzo: [[*{price}]]€</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>

</body>

</html>